@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Frank+Ruhl+Libre:wght@700&family=Montserrat:wght@100&family=Poppins:wght@600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zen+Antique&family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Frank+Ruhl+Libre:wght@700&family=Montserrat:wght@100&family=Poppins:wght@600&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zen+Antique&family=Zen+Dots&display=swap");
.Bathrooms {
  min-width: 1200px;
  max-width: 80vw;
  margin: 20px auto 0;
}
.Bathrooms .general__photo {
  justify-content: center;
  display: flex;
  height: 400px;
  margin: 0 0 20px 0;
}
.Bathrooms .general__photo img {
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.Bathrooms .information h2 {
  margin: 50px 0 0;
  justify-content: center;
  display: flex;
  font-size: 32px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.Bathrooms .information h3 {
  margin: 0;
  color: #A20B05;
  justify-content: center;
  display: flex;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.Bathrooms .information h4 {
  margin: 30px 0 -10px 0;
  color: #A20B05;
  font-size: 22px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.Bathrooms .information p {
  color: #0F263C;
  justify-content: center;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.Bathrooms .information .bold {
  font-weight: bold;
}
.Bathrooms .information .MuiButton-root {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.Bathrooms .information .line {
  border: none;
  width: 50%;
  margin: 0 auto;
  height: 1.5px;
  background: linear-gradient(to left, #E3342C 50%, #A20B05 50%);
}
.Bathrooms .portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.Bathrooms .portfolio h3 {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 50px 0 0;
  color: #A20B05;
  justify-content: center;
  display: flex;
  font-size: 22px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.Bathrooms .portfolio div {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.Bathrooms .portfolio div img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 3px;
  transition: transform 0.5s;
}
.Bathrooms .portfolio div img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.Bathrooms .portfolio .MuiButton-root {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 20px 0 0;
  color: #0F263C;
  justify-content: center;
  display: flex;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.Bathrooms .portfolio .MuiButton-root span {
  align-items: center;
  display: flex;
}
.Bathrooms .portfolio .MuiButton-root .MuiSvgIcon-root {
  font-size: 26px;
}
.Bathrooms .portfolio .less {
  color: #A20B05;
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .Bathrooms {
    min-width: 900px;
    max-width: 85vw;
  }
  .Bathrooms .general__photo {
    height: 45vh;
  }
  .Bathrooms .information h3 {
    font-size: 24px;
  }
  .Bathrooms .information .MuiButton-root {
    font-size: 22px;
  }
  .Bathrooms .information .line {
    width: 70%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .Bathrooms {
    min-width: 600px;
    max-width: 85vw;
    margin: 0 auto;
  }
  .Bathrooms .general__photo {
    height: 35vh;
    margin: 0 0 15px 0;
  }
  .Bathrooms .information h2 {
    font-size: 28px;
    margin: 20px 0 0;
  }
  .Bathrooms .information h3 {
    font-size: 20px;
  }
  .Bathrooms .information h4 {
    font-size: 22px;
  }
  .Bathrooms .information p {
    font-size: 16px;
  }
  .Bathrooms .information .MuiButton-root {
    font-size: 18px;
  }
  .Bathrooms .information .line {
    width: 70%;
  }
  .Bathrooms .portfolio {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .Bathrooms .portfolio h3 {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 20px;
  }
  .Bathrooms .portfolio .MuiButton-root {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 20px;
  }
  .Bathrooms .portfolio .MuiButton-root .MuiSvgIcon-root {
    font-size: 24px;
  }
}
@media only screen and (max-width: 599px) {
  .Bathrooms {
    min-width: 369px;
    max-width: 90vw;
    margin: 0 auto;
  }
  .Bathrooms .general__photo {
    height: 30vh;
    margin: 0 0 15px 0;
  }
  .Bathrooms .information h2 {
    font-size: 22px;
    text-align: center;
    margin: 10px 0 0;
  }
  .Bathrooms .information h3 {
    font-size: 14px;
  }
  .Bathrooms .information h4 {
    font-size: 16px;
    text-align: center;
  }
  .Bathrooms .information p {
    font-size: 14px;
  }
  .Bathrooms .information .MuiButton-root {
    font-size: 14px;
  }
  .Bathrooms .information .line {
    width: 90%;
  }
  .Bathrooms .portfolio {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .Bathrooms .portfolio h3 {
    margin: 20px 0 0;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 16px;
  }
  .Bathrooms .portfolio .MuiButton-root {
    margin: 15px 0 0;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 16px;
  }
  .Bathrooms .portfolio .MuiButton-root .MuiSvgIcon-root {
    font-size: 20px;
  }
}

.box__modal {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}
.box__modal:focus-visible {
  outline: none;
}
.box__modal img {
  border-radius: 3px;
  border: 1px solid #ffffff;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  object-fit: contain;
  max-height: 90vh;
  width: 100%;
}
.box__modal .MuiSvgIcon-root {
  font-size: 30px;
  right: 5px;
  top: 5px;
  position: absolute;
}
.box__modal .MuiSvgIcon-root:hover {
  cursor: pointer;
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .box__modal {
    top: 40px;
    min-width: 75%;
  }
  .box__modal img {
    object-fit: cover;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .box__modal {
    top: 40px;
    min-width: 75%;
  }
  .box__modal img {
    object-fit: cover;
  }
}
@media only screen and (max-width: 599px) {
  .box__modal {
    top: 20px;
    min-width: 95%;
  }
  .box__modal img {
    object-fit: cover;
  }
}

/*# sourceMappingURL=Bathrooms.css.map */
