@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Frank+Ruhl+Libre:wght@700&family=Montserrat:wght@100&family=Poppins:wght@600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zen+Antique&family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Frank+Ruhl+Libre:wght@700&family=Montserrat:wght@100&family=Poppins:wght@600&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zen+Antique&family=Zen+Dots&display=swap");
.Navbar {
  min-width: 1200px;
  max-width: 80vw;
  margin: 10px auto 10px;
  height: 225px;
  display: grid;
  grid-template-columns: 150px 290px 1fr;
  grid-template-areas: "logo name phone" "line line line" "nav nav nav" "line2 line2 line2";
}
.Navbar .logo {
  grid-area: logo;
}
.Navbar .logo img {
  width: 150px;
}
.Navbar .Name {
  grid-area: name;
  margin: 45px 0 0 20px;
}
.Navbar .Name h2 {
  margin: 0;
  color: #0F263C;
  font-size: 50px;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.Navbar .Name h3 {
  margin: 0;
  color: #A20B05;
  font-size: 21px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.Navbar .telNumber {
  grid-area: phone;
  display: flex;
  justify-content: flex-end;
  margin-top: 45px;
}
.Navbar .telNumber a {
  text-decoration: none;
  color: #0F263C;
  font-size: 42px;
  height: 50px;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.Navbar .telNumber a:hover {
  color: #E3342C;
}
.Navbar .ButtonGroup {
  grid-area: nav;
  margin: 5px 0;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: space-around;
}
.Navbar .ButtonGroup .MuiButton-root {
  font-size: 18px;
}
.Navbar .line {
  grid-area: line;
  border: none;
  height: 1.5px;
  background: linear-gradient(to left, #E3342C 50%, #A20B05 50%);
}
.Navbar .line__two {
  grid-area: line2;
  border: none;
  height: 1.5px;
  background: linear-gradient(to left, #E3342C 50%, #A20B05 50%);
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .Navbar {
    min-width: 900px;
    max-width: 85vw;
    grid-template-columns: 130px 230px 1fr;
  }
  .Navbar .logo img {
    width: 130px;
  }
  .Navbar .Name {
    grid-area: name;
    margin: 35px 0 0 20px;
  }
  .Navbar .Name h2 {
    font-size: 38px;
  }
  .Navbar .Name h3 {
    font-size: 19px;
  }
  .Navbar .telNumber {
    margin-top: 35px;
  }
  .Navbar .telNumber a {
    font-size: 38px;
  }
  .Navbar .ButtonGroup {
    margin: 0;
  }
  .Navbar .ButtonGroup .MuiButton-root {
    font-size: 16px;
    padding: 4px 6px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .Navbar {
    min-width: 600px;
    max-width: 85vw;
    height: 190px;
    grid-template-columns: 100px 220px 1fr;
  }
  .Navbar .logo img {
    width: 100px;
  }
  .Navbar .Name {
    grid-area: name;
    margin: 25px 0 0 10px;
  }
  .Navbar .Name h2 {
    font-size: 36px;
  }
  .Navbar .Name h3 {
    font-size: 18px;
  }
  .Navbar .telNumber {
    margin-top: 25px;
  }
  .Navbar .telNumber a {
    font-size: 36px;
  }
  .Navbar .ButtonGroup {
    margin: 0;
  }
  .Navbar .ButtonGroup .MuiButton-root {
    font-size: 16px;
    padding: 4px 6px;
  }
}
@media only screen and (max-width: 599px) {
  .Navbar {
    min-width: 369px;
    margin: 5px auto 0;
    max-width: 90vw;
    height: 165px;
    grid-template-columns: 1.6fr 3fr 0;
  }
  .Navbar .logo {
    justify-content: flex-end;
    display: flex;
  }
  .Navbar .logo img {
    height: 90px;
    width: 80px;
  }
  .Navbar .Name {
    grid-area: name;
    margin: 17px 0 0 5px;
  }
  .Navbar .Name h2 {
    font-size: 34px;
  }
  .Navbar .Name h3 {
    font-size: 17px;
  }
  .Navbar .telNumber {
    display: none;
  }
  .Navbar .ButtonGroup {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
  }
  .Navbar .ButtonGroup .MuiButton-root {
    font-size: 14px;
    padding: 2px 4px;
    margin: 2px 0;
  }
}

/*# sourceMappingURL=Navbar.css.map */
